[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-louvain = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
networkx = "*"
pydot = "*"
graphviz = "*"
scikit-learn = "*"
pydotplus = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.7"
